<header class="#00b0ff light-blue white-text">
  <div class="container">
    <div class="row">

      <div class="col s3" id="logo">
        <img src="http://rodriguezsanchezadrianjavier.com/images/brother.png" alt="adrian-javier-rodriguez-sanchez-logo">
      </div>

      <div class="col s9" id="nologo">
        
        <p id="headline">rodriguez<span class="greywords">sanchez</span>adrian<span class="greywords">javier</span></p>
        
        <div id="redes-cabecera">

          
         
          <a href="mailto:rodriguezsanchezadrianjavier@gmail.com">
            <img src="././assets/images/emailw.png" alt="adrian-javier-rodriguez-sanchez-gmail"></a>
          
         <a href="https://github.com/rsadrianjavier" target="_blank">
            <img src="././assets/images/githubw.png" alt="https://github.com/rsadrianjavier"></a>

 <a href="https://twitter.com/rsadrianjavier/" target="_blank">
            <img src="././assets/images/twitterw.png" alt="adrian-javier-rodriguez-sanchez-twitter">
          </a>

          

          <a href="https://es.linkedin.com/in/adrianjavieraparejador" target="_blank">
            <img src="././assets/images/linkedinw.png" alt="adrian-javier-rodriguez-sanchez-linkedin"></a>

          <a href="https://www.facebook.com/rodriguezsanchezadrianjavier" target="_blank">
            <img src="././assets/images/facebookw.png" alt="adrian-javier-rodriguez-sanchez-facebook"></a>
        </div>

      </div>

    </div>
  </div>
</header>