<footer class="page-footer #3e2723 brown darken-4">
  <div class="container">
    <div class="row">
      
      <div class="col sl2">
        <p>
          <a href="https://es.linkedin.com/in/adrianjavieraparejador">
            <img src="http://rodriguezsanchezadrianjavier.com/images/linkedin.png" alt="adrian-javier-rodriguez-sanchez-linkedin"></a>
          <a href="https://www.facebook.com/rodriguezsanchezadrianjavier">
            <img src="http://rodriguezsanchezadrianjavier.com/images/fb.png" alt="adrian-javier-rodriguez-sanchez-facebook"></a>
          <a href="mailto:rodriguezsanchezadrianjavier@gmail.com">
            <img src="http://rodriguezsanchezadrianjavier.com/images/email.png" alt="adrian-javier-rodriguez-sanchez-gmail"></a>
          <a href="https://twitter.com/rsadrianjavier/">
            <img src="http://rodriguezsanchezadrianjavier.com/images/followme_twitter.png" alt="adrian-javier-rodriguez-sanchez-twitter"></a>
        </p>
      </div>
    </div>
    <div class="row" id="foot2">
      <div class="col sl2">
        
        	<p>
        		<small>COPYRIGHT &copy; 2017 </small>
        	   	<a class="grey-text text-lighten-1" href="http://rodriguezsanchezadrianjavier.com"> Adri&aacute;n Javier Rodr&iacute;guez S&aacute;nchez</a>
          </p>
      </div>
      <div class="col sl2">
          <p>
    	    	<a class="grey-text text-lighten-1" href="http://rodriguezsanchezadrianjavier.com/aviso-legal.html">Aviso Legal</a> |

    	  		<a class="grey-text text-lighten-1" href="http://rodriguezsanchezadrianjavier.com/politica-de-privacidad.html">Política de privacidad</a> |

    	  		<a class="grey-text text-lighten-1" href="http://rodriguezsanchezadrianjavier.com/sitemap.html">Mapa web</a>
    		</p>
      </div>
    </div>
  </div>
</footer>