<article id="desarrollo-entradas">
	<section>
		<p>Aquí iré contando mi aventura 2.0</p>

		<p>Si te animas a acompañarme, iré compartiendo todos los recursos, herramientas, frameworks y programas que voy conociendo para facilitar tu trabajo y desarrollo.</p> 

		<p>Con ello, quiero mostrar un ejemplo de cómo formarse para el desarrollo web</p>

		<p>De esta forma, además, iré exponiendo mis trabajos, para recibir consejos y e ir mejorando,</p>

		<p>empezando por mi primer proyecto, que es éste sitio web,</p>
		<p> para la cual acepto cualquier tipo de observación o consejo para su mejora</p>
	</section>
	<hr>
	<section>
		<h4>HTML</h4>
		<h4>CSS</h4>
		<h4>JavaScript</h4>
		<h4>Java & JavaEE</h4>
		<h4>C# .Net</h4>
		<h4>TypeScript & Angular</h4>
		<h4>NodeJS & MongoDB</h4>	
	</section>
</article>