<aside>

				
				<figure><img id="foto-adrian" alt="foto-adrian-rodriguez" src="http://rodriguezsanchezadrianjavier.com/images/ajrsweb.jpg"></figure>

				<div id="bebee"><a href="https://es.bebee.com/bee/adrian-javier-rodriguez-sanchez">Mi colmena<br><img src="http://rodriguezsanchezadrianjavier.com/images/BeBee.png" alt="colmena-bebee"></a>
				</div>
				<br>
				<div id="linkedin">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
					<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/adrianjavieraparejador" data-format="hover" data-related="false" data-text="Adrián Javier Rodríguez Sánchez"></script>
				</div>
			</aside>
			<article>
				<h4><a href="http://rodriguezsanchezadrianjavier.com/about-me/upm.html">Mi formación en la U.P.M. <span class="vermas">(Ver más)</span></a></h4>
					<p><b>Arquitectura Técnica / Ingeniería de Edificaci&oacute;n</b> 
					<br><a href="https://www.edificacion.upm.es/">Escuela Técnica Superior de Edificación</a><br>
					<img alt="Madrid" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png">
					 Madrid</p>

					
				<h4><a href="http://www.rodriguezsanchezadrianjavier.com/about-me/deutschland.html">Mi experiencia en Alemania <span class="vermas">(Ver más)</span></a></h4>
					<p><b>Construcción PASSIVHAUS</b><br> 
					König GmbH. ( Stuttgart, Baden-Baden &amp; Karlsruhe )<br>
					<img alt="Karlsruhe" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png">
					 Baden-Württemberg
					<br></p>

					<p><b>Certificación profesional en construcción</b><br>
					<a href="http://www.bszleo.de/index.php?id=4">Escuela de oficios BSZ Leonberg</a><br>
					<img alt="Leonberg-Stuttgart" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png">
					 Stuttgart</p>

				<h4><a href="http://rodriguezsanchezadrianjavier.com/desarrollo-web/">Mi aventura 2.0 <span class="vermas">(Ver más)</span></a></h4>
					<p><b>Humanización y creatividad en las TIC en un tiempo de crisis</b><br>
					Universidad Politécnica de Madrid<br>
					<img alt="Granja-Ildefonso" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png">
					 La Granja de San Ildefonso, Segovia</p>

					<p><b>Curso programación y diseño Web</b><br>
					TICTUM, Programa TICtalent<br><img alt="Madrid-tictum" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png"> Madrid</p>

					<p><b>Máster en Gestión y desarrollo de aplicaciones multiplataforma</b><br>
					Calidad del software y gestión de proyectos TIC<br>
					<img alt="universidad-avila-ucav" height="16" src="http://rodriguezsanchezadrianjavier.com/images/ubicacion.png"><a href="https://online.ucavila.es/">Universidad Católica de Ávila</a></p>
			</article>