<aside>
				
	<p>Vive como si fueses a morir mañana
		<br>Aprende como si fueses a vivir para siempre
		<br>Mahatma Gandhi</p><br>

	<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
	<script type="IN/Share" data-url="http://rodriguezsanchezadrianjavier.com/about-me/" data-counter="right"></script>

	<a href="http://checkpagerank.net/" title="Check PageRank" target="_blank"><img src="http://checkpagerank.net/pricon.php?key=75dc9d2fdb87c03212066a01e763e0dc&t=0" width="70" height="20" alt="Check Page Rank" /></a>
</aside>

<article id="inicio-entradas">
	<div class="entrada">
		<p>¿Quieres empezar con la informática y no sabes por dónde hacerlo? Diseño web, programación, desarrollo de aplicaciones móviles … <br><br>
		¿Ves palabras de todo tipo y no sabes que quieren decir? Frontend, backend, framework, hosting, server, browser, SEO …<br><br>
		¿Te gustaría programar y no sabes por qué lenguaje comenzar? C, C++, C#, Java, Python, Ruby …<br><br>
		¿Te estas planteando hacer un ciclo formativo de grado medio o superior o una ingeniería y no sabes cuál? Redes, sistemas informáticos, desarrollo de aplicaciones web, aplicaciones multiplataforma …<br><br>
		¿O tu objetivo es crear aplicaciones en Android, la seguridad informática o el Big Data y no sabes que debes estudiar primero?<br><br>
		Te entiendo perfectamente y por eso he creado esta web, donde iré exponiendo paso a paso, cómo y por dónde he empezado, pequeños trucos y guías que te ayudaran y links interesantes para facilitar tu camino y aclarar tus dudas de forma clara y sencilla.</p>
	</div>
</article>